@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    @apply bg-white text-neutral-text font-roboto;
  }
}

@layer components {
  .search-bar {
    @apply flex items-center w-full max-w-[584px] bg-white rounded-full border border-neutral-border hover:shadow-hover focus-within:shadow-hover hover:border-transparent focus-within:border-transparent;
  }
  
  .primary-button {
    @apply px-[23px] py-[9px] text-white bg-primary-blue rounded-[4px] hover:bg-primary-hover hover:shadow-button transition-all duration-200;
  }
  
  .secondary-button {
    @apply h-9 px-4 min-w-[54px] text-[14px] text-neutral-text bg-neutral-hover rounded-[4px] border border-neutral-hover hover:border-neutral-border hover:shadow-button-sm;
  }
  
  .icon-button {
    @apply flex items-center justify-center w-10 h-10 rounded-full hover:bg-neutral-hover transition-colors;
  }
} 